<!-- title -->
<div class="upload-flex-container">
	<div class="upload-title">
	  New Nibbly
	</div>
	<form name="loginForm" class="upload-form">
  	<md-input-container class="md-block">
      <label>Title</label>
      <input ng-model="uploadNibble.title">
    </md-input-container>
		<md-input-container class="md-block">
        <label>Description</label>
        <textarea ng-model="uploadNibble.description" rows="6"></textarea>
    </md-input-container>
    	<input id="cs142-upload-photo-choose-file" type="file" accept="image/*"  onchange="angular.element(this).scope().inputFileNameChanged(this)">
<!-- 		<input class="ng-hide" id="input-file-id" multiple type="file" />
		<label for="input-file-id" class="md-button md-raised">Choose Files</label> -->
		<br><br><br>
    <p class="upload-error-msg">{{errorMessage}}</p>
		<section layout="row" class="upload-button">
			<md-button class="md-raised md-primary" ng-click="createNibbleClick(username)">Create</md-button>
		</section>
	</form>
</div>
