<!-- title -->
<div class="upload-flex-container">
  <div class="upload-title">
    New Nibble
  </div>

  <form name="loginForm" class="upload-form">
    <md-input-container class="md-block">
      <label>Title</label>
      <input ng-model="uploadNibble.title">
    </md-input-container>
    <md-input-container class="md-block">
      <label>Description</label>
      <textarea ng-model="uploadNibble.description" rows="6"></textarea>
    </md-input-container>
    <label>Average Duration</label>
    <div style="padding-bottom: 20px">
      <rzslider 
         rz-slider-model="durationSlider.value"
         rz-slider-options="durationSlider.options"></rzslider>
    </div>
      <label>Estimated Difficulty</label>
      <div style="padding-bottom: 40px">
      <rzslider 
         rz-slider-model="difficultySlider.value"
         rz-slider-options="difficultySlider.options"></rzslider>
      </div>
    <input id="cs142-upload-photo-choose-file" type="file" accept="*"  onchange="angular.element(this).scope().inputFileNameChanged(this)">
    <p class="upload-error-msg">{{errorMessage}}</p>
    <section layout="row" class="upload-button">
      <md-button class="md-raised md-primary" ng-click="createNibbleClick(username)">Create</md-button>
    </section>
  </form>
</div>
