/*
CSS for the CS142 project #5 main page

Since CSS uses a global name space for classes we should use class names starting with
cs142-main- here.
*/

html {
	font-family: Roboto, sans-serif;
}

a {
	text-decoration: none;
	color: white;
}

.main-container {
	padding: 40px;
}

.main-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.avatar {
	display: flex;
	align-items: center;
	justify-content: center;

	background: darkgrey;

	padding: 10px;
	width: 45px;
	height: 45px;
	border-radius: 25px;
}
