<div class="photos-container">
  <md-card class="photo-card" ng-repeat="photo in photos" ng-if="!photoAtIndex">
    <md-card-header-text>
      <span class="md-subhead">{{photo.date_time}}</span>
    </md-card-header-text>
      <img ng-src="/images/{{photo.file_name}}" />
      <md-list flex>
        <md-list-item class="md-2-line" ng-repeat="comment in photo.comments" ng-href="#/users/{{comment.user_id}}">
          <div class="md-list-item-text" layout="column">
            <p><strong>{{comment.user.first_name}} {{comment.user.last_name}}: </strong>{{comment.comment}}</p>
            <p>{{comment.date_time}}</p>
          </div>
        </md-list-item>
      </md-list>
  </md-card>
  <md-card class="photo-card wide" ng-if="photoAtIndex">
    <md-card-header-text class="cs142-phots-card-header">
      <a class="cs142-photos-arrow" ng-href="#/photos/{{userId}}/{{prevIndex}}" ng-class="{'cs142-photos-hidden': {{prevIndex === -1}} }">&lt;</a>
      <span class="md-subhead">{{photoAtIndex.date_time}}</span>
      <a class="cs142-photos-arrow" ng-href="#/photos/{{userId}}/{{nextIndex}}" ng-class="{'cs142-photos-hidden': {{nextIndex === -1}} }">&gt;</a>
    </md-card-header-text>
      <img ng-src="/images/{{photoAtIndex.file_name}}" />
      <md-list flex>
        <md-list-item class="md-2-line" ng-href="#/users/{{comment.user._id}}" ng-repeat="comment in photoAtIndex.comments">
          <div class="md-list-item-text" layout="column">
            <p><strong>{{comment.user.first_name}} {{comment.user.last_name}}: </strong>{{comment.comment}}</p>
            <p>{{comment.date_time}}</p>
          </div>
        </md-list-item>
      </md-list>
  </md-card>
</div>
