.home-title {
	font-size: 80px;
	color: #6b6b6b;
	font-family: "Century Gothic";
}

.flex-container {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 80vh;
}

.home-featured-container {
	display: flex;
	width: 100%;
	align-items: left;
	flex-direction: row;
}

.home-featured-title-container {
	display: flex;
	width: 100%;
	align-items: left;
	flex-direction: row;
	font-family: "Century Gothic";
	color: gray;
}

.home-featured-nibble {
	min-width: 200px;
	padding: 10px;
	border: solid gray 3px;
	margin-right: 20px;
}

.home-search-bar {
	min-width: 700px;
}

.home-search-button {
	display: flex;
	align-items: center;
	justify-content: center;
}

#home-search-icon {
	max-width: 30px;
}

html {
	width: 100%;
}