html {
	height: 100%;
	width:100%;
}

.nibble-detail-header {
	display: flex;
	flex-direction: row; 
	justify-content: center;
	margin-bottom: 7px;
	align-items: center;
}

.nibble-detail-title {
	text-align: center;
	font-size: 40px;
	padding-left: 30px; /* math this to be accurate */
}

.nibble-detail-description {
	font-family: "Century Gothic";
}

#nibble-detail-download-button {
	max-width: 40px;
	margin-left: 10px;
}

.nibble-detail-author {
	font-size: 20px;
	text-align: center;
	margin-bottom: 10px;
}

.nibble-detail-data-container {
	display: flex;
	flex-direction: row; 
	justify-content: space-between;
	align-items: center;
}

.nibble-detail-videos-container {
	display: flex;
	flex-direction: column; 
	justify-content: space-between;
	margin: 40px;
}

.nibble-detail-slide-img {
	width: 600px;
}

.nibble-detail-video-img {
	width: 300px;
	margin-right: 200px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}