<!-- title -->
<h1 class="nibble-detail-title">
  {{currNibble.name}}
</h1>
<!-- author -->
<div class="nibble-detail-author">
  {{currNibble.author}}
</div>
<!-- description -->
<div class="nibble-detail-description">
  {{currNibble.description}}
</div>
<div class="nibble-detail-data-container">
	<h2>Slides</h2>
	<div class="nibble-detail-slide-view">
		<!-- TODO: ng-repeat it from db -->
		<img class="nibble-detail-slide-img" ng-src="/components/nibble-detail/nibble-detailImages/noImageFound.png">
	</div>
	<h2>Videos</h2>
	<div class="nibble-detail-video-view">
		<!-- TODO: ng-repeat it from db -->
		<img class="nibble-detail-video-img" ng-src="/components/nibble-detail/nibble-detailImages/noImageFound.png">
	</div>
</div>