<!-- header -->
<div class="nibble-detail-header">
	<span class="nibble-detail-title">{{currNibble.name}}</span>
	<img id="nibble-detail-download-button" ng-src="/components/nibble-detail/nibble-detailImages/icon-download.png">
</div>
<!-- download modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Downloading Test Nibble #1 by Bob Bobby :)</p>
  </div>

</div>
<!-- author -->
<div class="nibble-detail-author">Created by {{currNibble.author}} from {{currNibble.organization}}</div>

<!-- description -->
<div class="nibble-detail-description">
  Description:
  {{currNibble.description}}
</div>
<div class="nibble-detail-data-container">
	<span class="nibble-detail-slides-container">
		<h2>Slides</h2>
		<div class="nibble-detail-slide-view">
			<!-- TODO: ng-repeat it from db -->
			<img class="nibble-detail-slide-img" ng-src="/components/nibble-detail/nibble-detailImages/noImageFound.png">
		</div>
	</span>
	<span class ="nibble-detail-videos-container">
		<h2>Videos</h2>
		<div class="nibble-detail-video-view">
			<!-- TODO: ng-repeat it from db -->
			<img class="nibble-detail-video-img" ng-src="/components/nibble-detail/nibble-detailImages/noImageFound.png">
		</span>
	</div>
</div>