<!-- header -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<div class="nibble-detail-header">
	<span class="nibble-detail-title">{{currNibble.title}}</span>
	<a href="/download/nibble/{{currNibble.id}}"><img id="nibble-detail-download-button" ng-src="/components/nibble-detail/nibble-detailImages/icon-download.png"></a>
</div>
<!-- download modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Downloading {{currNibble.title}} by {{currNibble.User.name}} :)</p>
  </div>

</div>
<!-- author -->
<div class="nibble-detail-author">Created by {{currNibble.User.name}}</div>

<!-- description -->
<div class="nibble-detail-description">
  Description:
  {{currNibble.description}}
</div>
<!-- media contents -->
<div class="nibble-detail-data-container">
	<span class="nibble-detail-slides-container">
		<h2>Slides</h2><a href={{downloadLink}}><img id="nibble-detail-download-button" ng-src="/components/nibble-detail/nibble-detailImages/icon-download.png"></a>
		<div class="nibble-detail-slide-view">
		  <!-- TODO: ng-repeat it from db -->
			<!--			<ng-embed embed-data="{{pdf-data}}" embed-options="{{embed-options}}"></ng-embed>-->
			<iframe src={{contentLink}} frameborder="0" width="700" height="500" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
		</div>
	</span>
	<span class ="nibble-detail-videos-container">
	  <h2>Videos</h2>
	  <video ng-if="currNibble.Contents[1] != null" controls="controls" ng-src="{{downloadLink}}" width="700" height="500">
	  </video>
	  <div ng-f="{{currNibble.Contents[1]}} == null"><p> [None]</p> </div>
</div>
